{% extends 'base.html' %}
{% block content %}

<div class="card">
  <h1>Projects</h1>
  <p>Assign projects to services.</p>
  <a href ="{%url 'projects_form'%}" style="text-decoration:none;
  color:black;
  border:2px solid black;
  padding:10px;
  text-align:center;
  margin-top: 20px;
  width: 300px;
  align-item:center;
  border-radius:40px;
  "><b>Assign the Project to the User</b></a>
  <div class="card">
    <h2>Projects</h2>
  
    {% if projects %}
    <table>
      <thead>
        <tr>
          <th>Project</th>
          <th>Service</th>
          <th>Assigned To</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for project in projects %}
        <tr>
          <td style="text-align:center;">{{ project.name }}</td>
          <td style="text-align:center;">{{ project.service.name }}</td>
          <td style="text-align:center;">
            {% if project.assigned_to %}
              {{ project.assigned_to.username }}
            {% else %}
              Unassigned
            {% endif %}
          </td>
          
          <td style="text-align:center;">{{ project.status }}</td>
          <td style="text-align:center;">
            <a class="btn" href="{% url 'project_edit' project.id %}">Edit</a>
            <a class="btn" href="{% url 'project_delete' project.id %}"
               onclick="return confirm('Delete this project?')">
              Delete
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
      <p>No projects found</p>
    {% endif %}
  </div>
</div>

{% endblock %}
